body, html{
    width: 100%;
    margin: 0;
    height: 100%;
}

#superdiv{
    width: 100%;
    background-image: url("../images/DeMolLogo.png");
    height: 100%;
}
.gecontroleerd{
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}
#naam{
    font-size: 200px;
    color: white;
    width: 50%;
    margin: auto;
    padding: 50px 0;
}
div{
    justify-content: center;
}
input, button{
    margin-top: 50px;
    margin-left: auto;
}
#inputText{
    height: 50px;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: black;
    border: 1px white solid;
    color:grey;
    margin-left: 20px;
}
#controleer{
    height: 55px;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    border: 1px white solid;
    color:grey;
    padding: 2px;
}
#controleer:hover{
    border: 3px white;
    padding: 0;
}